/* Transition 
-------------------------- */
$--all-transition: all .3s cubic-bezier(.645,.045,.355,1) !default;//过渡效果
$--fade-transition: opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) !default;//vue-transtion效果
$--fade-linear-transition: opacity 200ms linear !default; //线性渐变
$--md-fade-transition: transform 300ms cubic-bezier(0.23, 1, 0.32, 1), opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) !default;
$--border-transition-base: border-color .2s cubic-bezier(.645,.045,.355,1) !default; //border过渡
$--color-transition-base: color .2s cubic-bezier(.645,.045,.355,1) !default; //颜色过渡